/.metadata/
/bin/
/target/
/sendToDevs/
info.displayconfig
dependency-reduced-pom.xml
.classpath
.project
/preferences/
.DS_Store
/.settings/
lib/*
!lib/run.sh
!lib/decompile.sh
!lib/copy_latest.sh
twitchconfig.txt
